.login-page {
    position: absolute;
    background-color: #1f1f1f;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
}

.logo {
    width: 400px;
    max-width: 90%;
}

.login-instructions {
    margin: 2rem;
    max-width: 400px;
    padding: 15px;
    background: rgba(238, 238, 238, 0.9);
    border-radius: 5px;
}

.login-details-container div {
    display: flex;
    /* align-items: center; */
    gap: .5rem;
}

.copy {
    cursor: pointer;
    background: none;
    border: none;
    transform: translateY(-2.5px);
}

.copy-icon {
    font-size: 20px;
}

.login-btn {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    background-color: #fefefe;
    border-radius: 50px;
    color: #1f1f1f;
    font-weight: 600;
    margin-top: 20%;
}

a {
    text-decoration: none;
}