@import url('../../shared/theme.css');

.albumInfo-card {
    font-size: 16px;
    font-weight: 400;
    color: var(--text);
    margin-top: 1rem;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media screen and (max-width: 1200px) {
    .albumInfo-card {
        display: none;
    }
}